<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>firstwebApp</display-name>
  <welcome-file-list>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>UpdateController</display-name> -->
<!--     <servlet-name>UpdateController</servlet-name> -->
<!--     <servlet-class>com.vcube.controller.UpdateController</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UpdateController</servlet-name> -->
<!--     <url-pattern>/UpdateController</url-pattern> -->
<!--   </servlet-mapping> -->
</web-app>